<!DOCTYPE html>
<html>
	<head>
		<title>SuperMídia Widget</title>
		<meta charset="UTF-8">
		<meta content="SuperMídia Widget" property="og:title">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<meta name="author" content="">
		
		<!---Configure seus estilos nesse arquivo-->
		<link rel="stylesheet" href="styles/styles.css" />

		<!---Caso não vá utilizar jquery remova essa referência e o arquivo da pasta-->
		<script src="scripts/jquery.min.js"></script>

		<!---Caso não vá utilizar esses helpers remova essa referência e o arquivo da pasta-->
		<!---Documentação dos helpers em href="https://github.com/simixsistemas/SuperMidia.Widgets/blob/master/_Libraries/HELPERS.md"-->
		<script src="scripts/simix-helpers.js"></script>
	</head>

	<body style="width:100%;height:100vh !important;display: flex; justify-content: center; align-items: center; overflow: hidden;">
		Hello World!
	</body>
</html>